<div class="projects-container" *transloco="let t">
  <div class="title-1" [ngStyle]="{ top: isSmallScreen ? '-13rem' : '0' }">
    {{ t("project.title-1-begin") }}
    <span class="green">{{ t("project.title-1-end") }}</span>
  </div>
  <div class="card-container">
    <a
      *ngFor="let card of cards; let i = index"
      [href]="card.link"
      [target]="card.comingSoon ? '' :  '_blank'"
      rel="noopener noreferrer"
      data-tilt
      data-tilt-glare
      data-tilt-max="5"
      data-tilt-reverse="true"
      data-tilt-max-glare="0.5"
      class="card-item vanillaTilt"
      [ngClass]="{
        'coming-soon': card.comingSoon,
        slider: isSmallScreen,
        effect: !isSmallScreen,
        selected: i === selectedIndex && isSmallScreen,
        prev: i === selectedIndex - 1 && isSmallScreen,
        next: i === selectedIndex + 1 && isSmallScreen,
        hideLeft: i < selectedIndex - 1 && isSmallScreen,
        hideRight: i > selectedIndex + 1 && isSmallScreen
      }"
      (panright)="showPrev(i)"
      (panleft)="showNext(i)"
    >
      <div
        class="card-img"
        [style.background-image]="'url(' + card.img + ')'"
      ></div>
      <div class="card-text">
        <div class="card-title">{{ card.title }}
        </div>
        <div class="card-description">
          {{ card.description }}
        </div>
      </div>
    </a>
  </div>
</div>
